/* CARROSSEL ENCOMENDAS*/

.order-name-carousel {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: var(--bold-font);
  color: var(--text-white);
  width: 50%;
  border: 0.15rem solid var(--background-color);
  border-radius: 0.5rem;
  background-color: var(--primary-color);
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  margin: 0.2rem calc(80% / 3);
}

.carousel-inner {
  display: flex;
  width: 80%;
  margin: 20px auto;
  padding-block-start: 1rem;
  overflow: hidden;
  border-radius: 1rem;
}


.carousel-item {
  display: block;
  margin-right: 0.2rem;
  flex: 0 0 calc(100%/3);
}

.img-wrapper {
  max-width: 100%;
  height: 22rem;
}

.img {
  max-width: 90%;
  max-height: 90%;
}

.carousel-control-prev, .carousel-control-next {
  padding: 1rem;
  cursor: pointer;
  color: var(--text-white);
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  border: none;
  height: 4rem;
  width: 1.5rem;
  font-weight: var(--bolder-font);
  font-size: 1rem;
  margin: 0;
}

.carousel-control-prev-icon {
  margin: auto;
  padding: 0.1rem;
  font-size: 1rem;
}

.carousel-control-next {
  margin: auto;
}
